.construction-notice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.construction-notice img {
    width: 20rem;
}