.music-bottom-component {
    display: flex;
    align-items: center;
}

.music-bottom-component img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
}

.music-bottom-component--detail {
    margin: auto 1rem;
}

#play-button {
    cursor: pointer;
}