:root {
    --web-background: #0b1215;
    --text-color: #fafafa;
    --text-color-hover: #aaaaaa;
    --main-cta-color: #007f87;
    --main-cta-color-hover: #005c71;
    --sub-cta-color: #9075d8;
    --sub-cta-color-hover: #9f63c4;
}