:root {
    --web-background: #fafafa;
    --text-color: #0b1215;
    --text-color-hover: #474747;
    --main-cta-color: #007f87;
    --main-cta-color-hover: #006076;
    --sub-cta-color: #9075d8;
    --sub-cta-color-hover: #9f63c4;
}