:root {
    --web-background: #fafafa;
    --container-color: #f1f2f4;
    --foreground-container-color: #fefefe;
    --background-container-color: #e8e8e8;
    --text-color: #0b1215;
    --text-color-hover: #474747;
    --main-cta-color: #007f87;
    --main-cta-color-hover: #006076;
    --sub-cta-color: #9075d8;
    --sub-cta-color-hover: #9f63c4;
}